/*---IMPORTED FONTS---*/
@import url(https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap);

/*---CSS RESET---*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---ROOT VARIABLES---*/
:root {
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;

}

/*---GLOBAL STYLES (MOBILE/SMALL)---*/
body {
    min-width: 428px;
    background-color: var(--white);
    font-family: Habibi;
}
header, footer {
    background-color: var(--green);
    color: var(--white);
}
header {
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
header p {
    margin: 0 auto;
    padding-top: 15px;
    font-style: italic;
}
h1, h2, h3 {
    font-family: "Irish Grover";
}
h1, h3, figure, footer, .copyright {
    text-align: center;
}
h1 {
    font-size: 2.5em;
    padding-bottom: 0;
    text-shadow: 2px 2px 2px var(--black);
}
h2 {
    font-size: 1.75em;
}
h3, p, nav {
    font-size: 1.25em;
}
nav {
    padding: 40px;
}
nav li {
    background-color: var(--orange);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 325px;
    border-radius: 5px;
    border: 1px solid var(--white);
}
a {
    text-decoration: none;
    color: var(--white);
}
nav div {
    width: 75px;
    background-color: var(--orange);
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--white);
    position: fixed;
    bottom: 10px;
    right: 10px;
}
main {
    margin-right: 10px;
    margin-left: 10px;
}
main section {
    padding-bottom: 30px;
}
main p {
    padding: 10px 10px 20px;
}
figure {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
figcaption {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: var(--white);
    z-index: 1;
    padding: 10px;
    width: 100px;
}
footer {
    padding-bottom: 10px;
}
footer h2 {
    padding: 40px 0 10px;
}
footer ul, address {
    line-height: 1.5;
}
.copyright {
    color: var(--green);
    padding: 5px;
}


/*---MEDIA QUERY (MEDIUM)---*/
@media screen and (min-width: 834px) {
    header {
        flex-direction: row;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav li {
        width: 275px;
    }
    .grid-container {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    footer  {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*---MEDIA QUERY (LARGE)---*/
@media screen and (min-width: 1280px) {
    header {
        flex-direction: column;
        margin-bottom: 40px;
    }
    header p {
        margin: 0;
    }
    h1 {
        text-align: left;
    }
    nav {
        position: absolute;
        top: 0px;
        right: 20px;
        padding: 20px;
        justify-content: space-between;
    }
    nav li {
        margin: 10px;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*---MEDIA QUERY (XL)---*/
@media screen and (min-width: 1440px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}